@font-face {
	font-family: "fjdkslaheiwo";
	src: url(fjdksla;eiwo.ttf) format("truetype");
}

.language {
	font-family: "fjdkslaheiwo";
	font-size: .6em;
	line-height: 3em;
}
textarea.language {
	width: 25em;
	height: 13em;
}
